@font-face {
	font-family: 'WildernessTypefaceRegular';
	src: url('./WildernessTypefaceRegular.eot');
	src: local('WildernessTypefaceRegular'), url('./WildernessTypefaceRegular.woff') format('woff'), url('./WildernessTypefaceRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_78440">Text with this font applied</p> */
.fontsforweb_fontid_78440 {
	font-family: 'WildernessTypefaceRegular' !important;
}

/* Font downloaded from FontsForWeb.com */